.gradient {
    background: #fefcea; /* Для старых браузров */
    background: linear-gradient(to top right, #80D0C7, #0093E9);
    display: inline-block;
    width: 100%;
    padding: 50px;
   }

.left_align {
    color: white;
    text-align: left;
    float: left;
    width: 50%;
    height: 60%;
    min-height: 100px;
    padding: 2.5%;
}

.left_align_footer {
    margin-top: 200px;
    text-align: bottom;
}

.left_align_footer hr {
    height: 5px!important;
    width: 80px!important;
    size: 10px!important;
    opacity: 1!important;
}

.right_align {
    float: left;
    width: 50%;
    padding: 2.5%;
}
