.form-nav {
    max-width: 350px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}
.form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}

th, td {
    background-color: #eeeeee;
}