.index_gradient {
    background: #fefcea; /* Для старых браузров */
    background: linear-gradient(to top right, #80D0C7, #0093E9);
    display: inline-block;
    width: 100%;
    padding: 50px;
   }

.index_left_align {
    color: white;
    text-align: left;
    float: left;
    width: 50%;
    height: 60%;
    min-height: 100px;
    padding: 2.5%;
}

.index_left_align_footer {
    margin-top: 200px;
    text-align: bottom;
}

.index_left_align_footer hr {
    height: 5px!important;
    width: 80px!important;
    size: 10px!important;
    opacity: 1!important;
}

.index_right_align {
    float: left;
    width: 50%;
    padding: 2.5%;
}

footer {
    background-color: #2479EC;
}
footer p {
    color: white;
    font-size: 16px;
}




/* For alerts */
.alert {
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeOut;
    align-content: bottom;
  }
  @keyframes fadeOut {
     0% {opacity: 1;}
     100% {opacity: 0;}
  }
  
  .form-nav {
    width: 100%;
      max-width: 350px;
      margin: auto;
  }
  .form-signin {
      width: 100%;
      max-width: 350px;
      padding: 15px;
      margin: auto;
  }

  th, td {
      background-color: #eeeeee;
  }