<!DOCTYPE html>
<html>
    <head>
        <title>Конкурс письменных работ "Письмо-2020"</title>
    </head>
    <body>
        {% include "header.html" %}
        <h1>Письмо-2020</h1>
        <a href="/rules">Правила конкурса</a>

        <p>{{ state[0] }} {{ state[1] }} {{ state[2] }}</p>

        {{ login_info }}
        {% if logged %}
        <a href="/logout">Выйти</a>
        {% else %}
        <a href="/login">Войти</a>
        {% endif %}
        
        <p>Конкурс письменных работ на русском и английском языках</p>
        {% if logged %}

            {% if state[3] == 1 %}
                {% if submitted %}
                    {% if not work[7] %}
                    <a href="/submit?c_id={{ work[0] }}">Продолжить работу</a>
                    {% else %}
                    <a href="/submission?id={{ work[0] }}">Моя работа</a>
                    {% endif %}
                {% else %}
                    <a href="/takepart">Участвовать</a>
                {% endif %}
            {% else %}
                {% if state[3] == 2 %}
                <a href="/top">Голосовать</a>
                {% else %}
                <a href="/results">Результаты</a>
                {% endif %}
            {% endif %}

        {% else %}
        <a href="/register">Зарегистрироваться</a>
        {% endif %}
        
    </body>
</html>