<!DOCTYPE html>
<html>
    <head>
        <title>Конкурс письменных работ "Письмо-2020"</title>
    </head>
    <body>
        {% include "header.html" %}
        <h1>Письмо-2020</h1>
        <br>
        {{ login_info }}
        {% if logged %}
        <a href="/logout">Выйти</a>
        {% else %}
        <a href="/login">Войти</a>
        {% endif %}
        
        
        <h2>Выберете номинацию</h2>

        {% for t in tasks %}
            <div>
                <h3>{{ t[1] }}</h3>
                <p>Задание: {{ t[2] }}</p>
                <a href="/submit?task_id={{ t[0] }}">Приступить</a>
            </div>
            <br>  
        {% endfor %}

    </body>
</html>