{% extends "base.html" %}


{% block title %}
    <title>Панель админа | Письмо2020</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}"/>
{% endblock %}

{% block main %}
    <div class="card mt-5">
        
            <table class="table mb-0 ml-0 mr-0">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Тема</th>
                    <th scope="col">Старт "Предложи тему"</th>
                    <th scope="col">Старт "Загрузка работ"</th>
                    <th scope="col">Старт "Голосование"</th>
                    <th scope="col">Конец конкурса</th>
                    <th scope="col"></th>
                </tr>
                </thead>
        
                <tbody>
                    {% for item in themes %}
                    <tr>
                        <td>{{ loop.index }}</a></td>
                        <td>{{ item['theme'] }}</td>
                        <td>{{ item['stage_1'] }}</td>
                        <td>{{ item['stage_2'] }}</td>
                        <td>{{ item['stage_3'] }}</td>
                        <td>{{ item['stage_4'] }}</td>
                    </tr>
                    {% endfor %}
                    <form class="form" method="POST">
                        <tr>
                            <td>+</a></td>
                            <td>Новый конкурс</td>
                            <td><input name = "stage_1" class="form-control" type="datetime-local"></td>
                            <td><input name = "stage_2" class="form-control" type="datetime-local"></td>
                            <td><input name = "stage_3" class="form-control" type="datetime-local"></td>
                            <td><input name = "stage_4" class="form-control" type="datetime-local"></td>
                            
                        </tr>
                </tbody>
        
            </table>
                <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Создать</button>
            </form>
    </div>
{% endblock %}