{% extends "base.html" %}


{% block title %}
    <title>Главная | Письмо2020</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}


{% block  main %}
    <div class="gradient">
        <div class="left_align"> 
            <h3> Федеральная сеть школ английского языка Вильяма Рейли представляет проект </h3>
            <div class="left_align_footer">
                <hr/>
                <h5 class="mb-5"> Письмо 2020 </h5>
                {% if current_user.is_authenticated %}
                    <a href="/participate" class="btn btn-primary mr-2">Участвовать</a>
                {% else %}
                    <a href="/login" class="btn btn-primary mr-2">Участвовать</a>
                {% endif %}
                <a href="/support" class="btn btn-outline-light">Возникли проблемы?</a>
            </div>
        </div>

        <div class="right_align">
            <img src="{{ url_for('static', filename='img/a-group-of-students.jpg') }}" class="rounded img-fluid">
        </div>
    </div>
{% endblock %}