{% extends "base.html" %}


{% block title %}
    <title>Рейтинг | Письмо2020</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/rating.css') }}"/>
{% endblock %}


{% block  main %}

    <h5 class="mt-5">Тема: {{ works[0]['theme'] }}</h5>
    <div class="card">
        <table class="table mb-0">
            <thead>
              <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Рейтинг</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for i in works %}
                    <tr>
                        <td><a href="../profile/{{ i['login'] }}" class="text-decoration-none">{{ i['name'] }}</a></td>
                        <td>{{ i['voices'] }}</td>
                        
                        {% if current_user.login != i['login'] %}
                            <td><a href="../work/{{ i['url'] }}" class="btn btn-primary mr-2">Оценить</a></td>
                        {% else %}
                            <td><a href="../work/{{ i['url'] }}" class="btn btn-primary mr-2">Посмотреть работу</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}